
<h2> User Management </h2>
<h4> User Creation </h4>
<div class="row">
    <form class="col s12" [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="row">

      	<!-- User name -->
        <div class="input-field col s6">
          <input  id="user_name" type="text" class="validate" formControlName="name">
          <label for="user_name">User Name</label>
        </div>
      	<!-- First name -->
        <div class="input-field col s6">
          <input  id="first_name" type="text" class="validate"
          formControlName="first_name">
          <label for="first_name">First Name</label>
        </div>

      	<!-- Last Name -->
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate"
          formControlName="last_name">
          <label for="last_name">Last Name</label>
        </div>

      	<!-- Email-->
        <div class="input-field col s6">
          <input id="email" type="text" class="validate"
          formControlName="mail">
          <label for="email">Email</label>
        </div>

        <!-- status -->
        <div class="input-field col s6">
          <input id="status" type="status" class="validate"
                 formControlName="status">
          <label for="status">status</label>
        </div>

      	<!-- Password -->
        <div class="input-field col s6">
          <input id="password" type="password" class="validate"
          formControlName="password_hash">
          <label for="password">Password</label>
        </div>


      </div>


     <div class="form-group">
      <button class="btn btn-danger btn-block btn-lg">Create</button>
    </div>
    </form>

  <h4> List of all user </h4>
  <div class="container">
    <li class="pure-menu-item" *ngFor="let user of users">
      <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <b>{{user.name}}</b>
              <p>{{user.mail}}</p>
            </div>
            <div class="card-action">
              <button class="delete" title="delete" (click)="deleteUser(user)">X</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </div>
  </div>

