<h3> Forum du cours de {{course.name}} </h3>

<div *ngIf="messages.length > 0 ; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>

  <div class="row">

    <div *ngFor="let message of messages" class="card {{message.color}}">
      <div class="card-content">
        <div class="card-title "> {{message.title}}
          par <b>{{message.author}}</b></div>

        <p> {{message.content}}</p>

        <div class="score">
          <b class="scorepositive">{{message.upVote}} </b><b class="scorenegative">{{message.downVote}} </b>
        </div>

        <div class="card-action">
          <span class="time-right ">{{message.timestamp | date: 'short'}}</span>
          <div class="command">
            <i  *ngIf="statu" (click)="deleteMessage(message)" class="small material-icons waves-effect mybutton">delete_forever</i>
            <i (click)="upVote(message)" class="small material-icons  waves-effect mybutton">expand_less</i>
            <i (click)="downVote(message)" class="small material-icons waves-effect mybutton">expand_more</i>
            <div *ngIf="message.fileName">
              <i (click)=downloadFile(message.fileName)
                 class="small material-icons waves-effect mybutton">file_download</i>
              <b>{{message.fileName}}</b>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #elseBlock>Hmm... looks like there's nothing here. Yet</ng-template>
<app-jw-modal id="max-size">
  <h1>Erreur !</h1>
  <p>type: <input [(ngModel)]="bodyText" type="text"/></p>
  <button (click)="closeModal('max-size');">Close</button>
</app-jw-modal>

<div class="card #fafafa grey lighten-5">
  <div class="row">

    <form (ngSubmit)="submitForm()" [formGroup]="form" class="col s12">

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea class="materialize-textarea" formControlName="title" id="icon_prefix2"></textarea>
          <label for="icon_prefix2">Subject</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea class="materialize-textarea" formControlName="content" id="icon_prefix2"></textarea>
          <label for="icon_prefix2">Content</label>
        </div>
      </div>

      <div class="form-group">
        <label>Choose file(s)</label>
        <div [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             [uploader]="uploader"
             class="well my-drop-zone"
             ng2FileDrop>
          .<strong>{{ uploader.queue[0]?.file?.name }}</strong>.
        </div>

      </div>

      <div class="row">
        <div class="input-field col s3">
          <button class="btn waves-effect waves-light" name="action" type="submit">Send
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
