/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #d3d3d 3;
  border-radius: 15px;
  padding: 20px;
  margin: 10px auto;
  width: 80%;


}
.my-drop-zone { border: dotted 4px lightgray; }
.nv-file-over { border: dotted 6px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }


/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.time-right {
  float: right;
  color: white;
}

/* Style time text */
.time-left {
  float: left;
  color: white;
}


.scorepositive {
  color: green;
  width: 10%;

}

.scorenegative {
  color: red;
  width: 10%;

}


.mybutton:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.mybutton:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}
