<style>
  .custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
  }


</style>
<div class="pure-menu custom-restricted-width">
  <ul class="pure-menu-list">
    <span class="pure-menu-heading">COURSES</span>
    <li class="pure-menu-item" *ngFor="let course of courses" (click)="selectCourse(course)">
      <span><a class="pure-menu-link label-text">{{course.name}}</a>  </span>

    </li>
  </ul>
</div>

