<div class="centered">
  <h3> Chat du cours de {{course.name}} . </h3>


  <div #scrollable class="container" *ngFor="let message of messages">
    <b>{{message.author}}</b>
    <p>{{message.content}}</p>
    <span class="time-right">{{message.timestamp}} {{message.tag}}</span>
  </div>
  <div>
    <form class="pure-form fixed-to-bottom">
      <input type="text" #box (keyup)="0" id="message" class="pure-input-rounded" style="width:85%">
      <button type="submit" class="pure-button-rounded" style="width:15%" (click)="sendMessage(box.value) ">Send
      </button>
    </form>
  </div>
</div>
