<div class="centered">
  <h3> Chat du cours de {{course.name}} . </h3>


  <div #scrollable class="container" *ngFor="let message of messages">
    <b>{{message.author}}</b>
    <p>{{message.content}}</p>
    <span class="time-right">{{message.timestamp}} {{message.tag}}</span>
  </div>
  <div>
    <form class="pure-form fixed-to-bottom" [formGroup]="formchat" (ngSubmit)="submitForm()">
      <div class="input-field col s6">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="icon_prefix2" class="materialize-textarea" formControlName="content"></textarea>
        <label for="icon_prefix2">Content</label>
        <button type="submit" class="btn waves-effect waves-light" style="width:15%" name="action">Send
        </button>
      </div>
    </form>
  </div>
</div>
