<div class="container">
  <h2> Course management </h2>
  <h3> Create a course </h3>
  <form (ngSubmit)="submitForm()" [formGroup]="form">
    <div class="form-group input-group-lg">
      <label for="name">Course name </label>
      <input class="form-control" formControlName="name" id="name" placeholder="Name">
    </div>
    <div class="form-group input-group-lg">
      <label for="description">description</label>
      <input class="form-control" formControlName="description" id="description" placeholder="Description">
    </div>
    <div class="form-group">
      <button class="btn btn-danger btn-block btn-lg">Create</button>
    </div>
  </form>
</div>


<div class="container">
  <h3> List of courses </h3>
  <p> select one to add users, users will appear below this click them to select them </p>
  <div *ngIf="selectingUser">
    <div class="input-field col s5">
      <input [(ngModel)]="searchTextUser" id="userSearch" type="text">
      <label for="userSearch"> <i class="small material-icons">person_search</i></label>
    </div>
    <div *ngFor="let user of users | filter : {name: searchTextUser, first_name: searchTextUser,last_name: searchTextUser,mail: searchTextUser} :false "
         class="collection">
      <a (click)="addToList(user)" [ngClass]="  !user.edit ? 'white' : '#eeeeee grey lighten-3'"
         class="collection-item waves-effect waves-light"> {{user.first_name}} {{user.last_name}}
        ({{user.name}})</a>
    </div>
  </div>


  <div class="input-field col s5">
    <input [(ngModel)]="searchTextCourse" id="userSearch" type="text">
    <label for="userSearch"> <i class="small material-icons">library_books</i></label>
  </div>
  <div *ngFor="let course of courses | filter : {name: searchTextCourse, first_name: searchTextCourse,last_name: searchTextCourse,mail: searchTextCourse} :false"
       class="col s12 m7">
    <div [ngClass]="  !course.selected ? 'white' : '#eeeeee grey lighten-3'" class="card horizontal">
      <div (click)="selectCoursToAdd(course)" class="card-stacked">
        <div class="card-content">
          <b>{{course.name}}</b>
          <p>{{course.description}}</p>
        </div>
        <div class="card-action">
          <i (click)="deleteCourse(course)" class="small material-icons waves-effect waves-light mybutton">close</i>
          <i (click)="addCourseToSelectedUser(course)" *ngIf="course.selected" class="small material-icons mybutton">check</i>

        </div>
      </div>

    </div>
  </div>


</div>



