<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
      integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">



<div id="layout" class="content pure-g ">
  <div id="nav" class="pure-u">

    <div class="nav-inner">
      <a href="/management"> Gestion des cours </a>
      <a href="/user-management"> Gestion des users </a>
      <app-courses (selectedCourseChanged)="selectCourse($event)"></app-courses>

    </div>
  </div>


  <div id="list" class="pure-u-1">
    <div *ngIf="selectedCourse" class="centered">
      <app-course-detail [course]=selectedCourse></app-course-detail>
    </div>
    <div *ngIf="selectedCourse">
      <app-chat [course]=selectedCourse></app-chat>
    </div>

  </div>

  <div id="main" class="pure-u-1">
    <div class="email-content-body">


      <div *ngIf="selectedCourse">
        <app-forum [course]=selectedCourse></app-forum>
      </div>

    </div>


